<title>Forum of The Web</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
	<!---->
<link rel="icon" type="image/ico" href="/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/styles/main.css" />
<link rel="stylesheet" type="text/css" href="/styles/posts.css" />
<!--<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>-->
<script src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js"></script>
<script src="/js/all.js"></script>
<script src="/firebase-init.js"></script>
<script src="/js/auth.js"></script>
<!-- don't defer these scripts -->