</div>

<!-- added /div b/c in header the other div is never closed-->
<div class="footer">
	<!--<h2>Like What You See? <strong>Thanks, We Worked Hard On It</strong></h2>-->
	<!--<p class="blackText">Thanks again for visiting. Leave feedback, share what you liked, and please come back soon for more content.</p>-->
	<!--<div class="copyright">-->
		<!--<ul class="links">-->
			<!--<li>&copy; <span id="copyYear"></span>. All rights reserved.-->
				 <!--<script type="text/javascript"> -->
	 <!--				$('#copyYear').html(new Date().getFullYear());-->
	<!--			</script>-->
	<!--		</li>-->
	<!--		<li>Props to: <a target="_blank" href="http://prof.ninja/">prof.ninja</a></li>-->
	<!--	</ul>-->
	<!--</div>-->
			<p>&copy; <span id="copyYear"></span>. All rights reserved.
				<script type="text/javascript">
					$('#copyYear').html(new Date().getFullYear());
				</script>
			</p>
			<p>Props to: <a target="_blank" href="http://prof.ninja/">prof.ninja</a></p>
		
	</div>
</div>

</div>
<!-- added /div b/c in header the other div is never closed-->
